Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
    <li><a href="{{ '/' | relative_url }}">Wiki Home</a></li>
    <li><a href="{{ '/allpages' | relative_url }}">All Pages</a></li>
    <li><a href="https://librelancer.net/">Librelancer Website</a></li>
    <li><a href="https://librelancer.net/blog/">Blog</a></li>
    <li><a href="https://librelancer.net/downloads.html">Downloads</a></li>
    <li><a href="https://librelancer.net/screenshots.html">Screenshots</a></li>
</ul>
